src/index.jade
doctype 5
html
  head
    title color-pad
    link(rel='stylesheet',href='page.css')
    script(src='lib/prelude-browser-min.js')
    script(src='handle.js')
    //- script(src='http://up:8072/doodle.js')
  body
    canvas#box(width='500px',height='500px')
    #panel
      canvas#circle(width='200px',height='200px')
      #sample
      input#hsl hsl(0,0%,0%)
      p#rgb rgb(0,0,0)

index.html
<!DOCTYPE html>
<html>
  <head>
    <title>color-pad</title>
    <link rel="stylesheet" href="page.css">
    <script src="lib/prelude-browser-min.js"></script>
    <script src="handle.js"></script>
  </head>
  <body>
    <canvas id="box" width="500px" height="500px"></canvas>
    <div id="panel">
      <canvas id="circle" width="200px" height="200px"></canvas>
      <div id="sample"></div>
      <input id="hsl">
      <p id="rgb">rgb(0,0,0)</p>
    </div>
  </body>
</html>
